.wave-container {
    position: relative;
}

.wave {
    position: absolute;
    top: 0;
    right: -10px;
    /* Ajusta la distancia del borde derecho según sea necesario */
    width: 0;
    height: 100%;
    border-top: 1px solid transparent;
    /* Necesario para crear la onda */
    border-right: 1px solid transparent;
    /* Necesario para crear la onda */
    border-radius: 50%;
    z-index: -1;
    /* Asegura que la onda esté detrás del contenido */
}