@import url('./variables.css');

body {
    display: flex;
    height: max-content;
    background-color: var(--light-blue);
    justify-content: center;
}

.main-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21cm;
    height: 29.7cm;
}

.header {
    width: 100%;
    padding: 0.5cm 1cm;
}

.effect-bubble {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__identity {
    position: relative;
    justify-content: start;
}

.header-info {
    justify-content: center;
    align-items: center;
}

.container-image {
    height: 296px;
    width: 230px;
    z-index: 2;
    border-radius: 35% 15% 35% 15%;
    margin-bottom: 0;
}

.header__name {
    bottom: -34px;
    height: max-content;
    font-size: 2.6rem;
    left: 0;
    color: var(--light-gray);
    letter-spacing: 2px;
    position: absolute;
    text-wrap: nowrap;
    transform-origin: 0 0px;
    transform: rotate(270deg);
}

.header-info {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}

.header-info__profession {
    bottom: -34px;
    margin: 0;
    font-size: 2.6rem;
    height: max-content;
    left: 0px;
    color: var(--light-gray);
    letter-spacing: 2px;
    position: absolute;
    text-wrap: nowrap;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.header-info__items {
    margin-left: 20px;
}

.content {
    gap: 15px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.8rem;
    justify-content: start;
}

.content-title {
    margin: 15px 0 5px 0px;
}

.content>i {
    font-size: 2rem;
}

a {
    color: var(--light-gray)0 text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.container>.container__grid:nth-child(1) {
    padding: 0.95cm 1cm;
}

.container>.container__grid:nth-child(2) {
    padding: 0.95cm 1cm;
}

.section>p {
    line-height: 1.2;
    letter-spacing: 1px;
}

.content-title>.section-title {
    font-size: 2.2rem;
}

.section-item>.section-subtitle {
    font-size: 1.6rem;
}

.container__grid {
    padding: 10px 20px;
    z-index: 2;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    list-style: none;
}

.list--item {
    padding: 4px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.wave {
    display: block;
}