@import url('./variables.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

body {
    font-size: 1.5rem;
    background-color: var(--dark-cyan);
}

.main-container {
    display: flex;
    width: 100vw;
    height: max-content;
    justify-content: center;
    flex-direction: column;
    min-width: 280px;
}

.header {
    padding: 30px 0 0 0;
    background-color: var(--dark-cyan);
    color: var(--light-gray);
    text-align: center;
}

.header__identity,
.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info__profession {
    margin: 10px 0 5px 0;
}

.container-image {
    border: 10px var(--light-blue) solid;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.container-image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__name {
    margin-top: -1rem;
    font-size: 2rem;
    white-space: nowrap;
}

.wave {
    display: none;
}

.content {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0.5rem;
}

.content>i,
p {
    font-size: 1.5rem;
}

.professional-profile {
    text-decoration: none;
    color: var(--light-gray);
}

.content-title {
    display: flex;
    margin-bottom: 5px;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.container__grid {
    z-index: 5;
}

.container>.container__grid:nth-child(1) {
    padding: 0.5cm 0.5cm 0.5cm 0.5cm;
    background-color: var(--dark-cyan);
    color: var(--light-gray);
}

.content-title>.section-title {
    font-size: 2rem;
}

.container>.container__grid:nth-child(2) {
    padding: 0.5cm 0.5cm 0.5cm 0.5cm;
    background-color: var(--light-gray);
    color: var(--dark-cyan);
    z-index: 3;
}

.section-title {
    font-size: 1.5rem;
}

.section-item>.section-subtitle {
    font-size: 1.6rem;
}

.list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    list-style: none;
}

.list--item {
    background-color: var(--light-gray);
    color: var(--dark-cyan);
    padding: 4px 8px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 4px;
}

.container-certificates {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.container-platzi {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.container-certificates__platzi {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #97c93e;
}

.container-certificates__page {
    color: #97c93e;
    background-color: black;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
}

.programming-content>.section>.content-title {
    color: var(--light-sea-green);

}

.another-info>.section>.content-title {
    color: var(--dark-cyan);
}

h3,
h4,
h5 {
    line-height: 1.4;
}