* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-gray: #dedadb;
    --light-blue: #9BBEC8;
    --dark-cyan: #04364A;
    --steel-blue: #176B87;
    --light-sea-green: #64CCC5;
    --baby-blue: #DAFFFB;
}

html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EEF5FF;
    font-size: 1.5rem;
}

.main-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: var(--dark-cyan);
    color: white;
    position: relative;
    text-align: center;
    padding: 30px;
    max-width: 960px;
    border-bottom: 1px solid var(--dark-cyan);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header__identity {
    display: flex;
    justify-content: start;
}

.container-image {
    border: 10px var(--light-blue) solid;
    height: 340px;
    width: 260px;
    border-radius: 25% 10% 25% 10%;
    overflow: hidden;
    margin-left: 20px;
}

.container-image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12.5% 5% 12.5% 5%;
}

.header__identity>h1 {
    bottom: -4px;
    height: max-content;
    margin-left: 10px;
    left: 0px;
    color: var(--light-gray);
    letter-spacing: 3px;
    position: absolute;
    text-wrap: nowrap;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.header__info {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container>.container__grid:nth-child(1) {
    background-color: var(--dark-cyan);
    color: var(--light-gray);
}

.container>.container__grid:nth-child(2) {
    background-color: var(--light-gray);
    color: var(--dark-cyan)
}

.container__grid {
    padding: 10px 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.list--item {
    color: var(--dark-cyan);
    background-color: var(--light-gray);
    margin: 4px;
    padding: 4px;
    font-weight: bold;
    border-radius: 5px;
}

.section-title {
    color: var(--light-sea-green);
}