* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-gray: #dedadb;
    --light-blue: #9BBEC8;
    --dark-cyan: #04364A;
    --steel-blue: #176B87;
    --light-sea-green: #64CCC5;
    --baby-blue: #DAFFFB;
    --subtitles: #1B1A55;
}

html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EEF5FF;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 21cm;
    height: 29.7cm;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: var(--dark-cyan);
    color: white;
    position: relative;
    text-align: center;
    padding: 1cm 1cm 1cm 1cm;
    max-width: 960px;
    border-bottom: 1px solid var(--dark-cyan);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__identity,
.header-info {
    display: flex;
}

.header__identity {
    position: relative;
    justify-content: start;
}

.header-info {
    justify-content: center;
    align-items: center;
}

.container-image {
    border: 10px var(--light-blue) solid;
    height: 340px;
    width: 260px;
    z-index: 2;
    border-radius: 25% 10% 25% 10%;
    overflow: hidden;
    margin-left: 50px;
}

.container-image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12.5% 5% 12.5% 5%;
}

.header__name {
    bottom: -34px;
    height: max-content;
    font-size: 3rem;
    left: 0;
    color: var(--light-gray);
    letter-spacing: 2px;
    position: absolute;
    text-wrap: nowrap;
    transform-origin: 0 0px;
    transform: rotate(270deg);
}

.header-info {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-info__profession {
    bottom: -34px;
    height: max-content;
    left: 0px;
    color: var(--light-gray);
    letter-spacing: 2px;
    position: absolute;
    text-wrap: nowrap;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.header-info__items {
    margin-left: 20px;
}

.content {
    display: flex;
    gap: 15px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    align-items: center;
    justify-content: start;
}

.content>i {
    font-size: 2rem;
}

a {
    color: var(--light-gray);
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.section>p {
    line-height: 1.2;
    letter-spacing: 1px;
}

.container>.container__grid:nth-child(1) {
    background-color: var(--dark-cyan);
    color: var(--light-gray);
    padding: 0 1cm 1cm 1cm;
}

.programming-content>.section>.section-title {
    color: var(--light-sea-green);
}

.container>.container__grid:nth-child(2) {
    background-color: var(--light-gray);
    color: var(--dark-cyan);
    z-index: 3;
    padding: 0 1cm 1cm 1cm;
}

.container__grid {
    padding: 10px 20px;
    z-index: 2;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.list--item {
    color: var(--dark-cyan);
    background-color: var(--light-gray);
    margin: 4px;
    font-size: 1.2rem;
    padding: 4px;
    font-weight: bold;
    border-radius: 4px;
}

.section-title {
    margin: 4px 0;
}

h3,
h4,
h5 {
    line-height: 1.4;
}

.container-certificates {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-certificates__platzi {
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: green;
}

.container-certificates>.container-certificates__page {
    color: green;
    font-weight: bold;
}

.section-subtitle {
    font-size: 1.5rem;
}