* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-cyan: #04364A;
    --steel-blue: #176B87;
    --light-sea-green: #64CCC5;
    --baby-blue: #DAFFFB;
}

html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EEF5FF;
    font-size: 1.5rem;
}

.main-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    position: relative;
    text-align: center;
    padding: 30px;
    max-width: 960px;
    border-bottom: 1px solid var(--dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__identity {
    display: flex;
}

.container-image__img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border: 10px var(--light-sea-green) solid;
    margin-left: 5px;
}

.header__identity>h1 {
    bottom: -4px;
    height: max-content;
    left: 0px;
    letter-spacing: 2px;
    position: absolute;
    text-wrap: nowrap;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.header__info {
    display: flex;
}