:root {
    --light-gray: #dedadb;
    --light-blue: #9BBEC8;
    --dark-cyan: #04364A;
    --steel-blue: #176B87;
    --light-sea-green: #64CCC5;
    --baby-blue: #DAFFFB;
    --subtitles: #1B1A55;
}